.page {
    flex-direction: row;
    background-color: '#E4E4E4';
}
.rateslip-container {
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
}
.rateslip {
    flex-direction: row;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
}
